

<div class="featurette">
    <img class="featurette-image img-thumbnail pull-left" src="http://www.breedyourdog.com/uploads/listing_images/20081/49237/thumb_l17064357.jpg?0">
    <h3 class="featurette-heading">Breed: <span class="text-muted">{{breed}}</span></h3>
    <p><strong>Name:</strong> <span class="text-muted">{{petName}}</span></p>
    <p><strong>Color:</strong> <span class="text-muted">{{petColor}}</span></p>
    <p><strong>Age:</strong> <span class="text-muted">{{age}}</span></p>
    <p><strong>ID:</strong> <span class="text-muted">{{_id}}</span></p>
    <p><strong>Member Since:</strong> <span class="text-muted">{{registered}}</span></p>
    <p class="lead">Description: {{extentDesc}}</p>
    <p class="btn btn-default">{{#link-to 'buy_dogs'}}Back to Previous »{{/link-to}}</p>
</div>